h3{
    color:red;
    text-decoration: underline;
    font-style: italic;
    font-family: "Sitka Display";
}

.dautien{
    text-align: left;
    line-height: 1.5;
}

p{
    text-align: left;
    line-height: 1.5;
}

.courses{
    text-indent:20px ;
    line-height: 1.5;
}
.languages{
    text-indent:20px ;
    line-height: 1.5;
}

.otherskills{
    text-indent:20px ;
    line-height: 1.5;
}

